.about {
  margin-bottom: 115px;
}
.big-title {
  font-size: 80px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 36px;
}
.about-icons {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
  margin-bottom: 130px;
}
.about-icons span {
  font-size: 30px;
  font-weight: 500;
  color: #808080;
}
.about-icon {
  font-size: 35px;
  color: #dd963c;
}
.about-video {
  position: relative;
  margin-bottom: 130px;
}
.about-video img:first-child {
  width: 100%;
}
.about-video img:nth-child(2) {
  opacity: 0.8;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.experience-abouts {
  margin-top: 120px;
}
.experience-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
}
.experience-about--content h2 {
  max-width: 501px;
  font-size: 36px;
  margin-bottom: 51px;
}
.experience-about--content p {
  max-width: 563px;
  color: #808080;
  font-size: 24px;
}
.instagram {
  margin-bottom: 190px;
}
.instagram-btn {
  padding: 15px 52px;
  background-color: #dd963c;
  margin-bottom: 97px;
  font-size: 24px;
  font-weight: 600;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s linear;
}
.instagram-btn:hover {
  background-color: #df8611;
}
.instagram-btn a {
  color: #fff;
}
.instagram-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.instagram-image img {
  transition: all 0.4s linear;
}
.instagram-image img:hover {
  transform: scale(1.15, 1.15);
}
@media screen and (min-width: 1280px) {
  .toogle {
    display: none;
  }
  .header-top {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
  }
}
@media screen and (max-width: 1279.98px) {
  .experience-about {
    gap: 30px;
  }
  .experience-about--content h2 {
    font-size: 30px;
  }
  .experience-about--content p {
    font-size: 18px;
  }
  .instagram-image img {
    width: 300px;
    height: 432px;
    object-fit: cover;
  }
  .instagram-image img:hover {
    transform: none;
  }
}
@media screen and (max-width: 1023.98px) {
  .about {
    margin-top: 130px;
  }
  .experience-about {
    gap: 30px;
  }
  .experience-about img {
    width: 50%;
  }
  .experience-about--content h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .experience-about--content p {
    font-size: 16px;
  }
  .instagram-image img {
    width: 230px;
    height: 362px;
    object-fit: cover;
  }
  .instagram-image img:hover {
    transform: none;
  }
}
@media screen and (max-width: 767.98px) {
  .instagram-image img {
    width: 180px;
  }
  .instagram {
    margin-bottom: 100px;
  }
  .experience-about {
    flex-direction: column;
  }
  .experience-about img {
    width: auto;
    height: auto;
  }
}
@media screen and (max-width: 479.98px) {
  .big-title {
    font-size: 60px;
    margin-bottom: 15px;
  }
  .about-icons {
    margin-bottom: 50px;
  }
  .about-video img:nth-child(2) {
    width: 50px;
    height: 50px;
  }
  .about-video {
    margin-bottom: 50px;
  }
  .about {
    margin-bottom: 80px;
  }
  .experience-abouts {
    margin-top: 80px;
  }
  .experience-about {
    flex-direction: column;
  }
  .experience-about img {
    width: 100%;
  }
  .instagram {
    margin-bottom: 90px;
  }
  .instagram-btn {
    font-size: 16px;
  }
  .instagram-image {
    flex-direction: column;
    row-gap: 20px;
  }
  .instagram-image img {
    width: 80%;
  }
}
